.profile__edit-button {
   background-image: url(../../../images/Vector.svg);
   background-repeat: no-repeat;
   background-color: rgba(0, 0, 0, 0);
   border: 1px solid #fff;
   background-size: 7.5px;
   padding: 0;
   margin-top: 8px;
   width: 18px;
   height: 18px;
   background-position: center;
}

.profile__edit-button:hover {
   opacity: 0.6;
   transition: 0.3s ease;
   cursor: pointer;
}

@media screen and (min-width: 768px) {
   .profile__edit-button {
      background-size: 10px;
      width: 24px;
      height: 24px;
   }
}

@media screen and (min-width: 1024px) {
   .profile__edit-button {
      margin-top: 15px;
   }
}