.main {
   margin: 0;
   padding: 0 19px;
}

@media screen and (min-width: 768px) {
   .main {
      padding: 0 92px;
   }
}

@media screen and (min-width: 1024px) {
   .main {
      padding: 0 150px;
   }
}

@media screen and (min-width: 1280px) {
   .main {
      padding: 0 200px;
   }
}