.header__button {
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    margin: 0;
    background-color: black;
    cursor: pointer;
    border: none;
    text-decoration: none;
}

.header__button:hover {
    opacity: 0.6;
}